@import "./base/reset";

.container {
  background-color: #bb9981;
  padding: 5rem 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  position: relative;
  z-index: 2;
  h1 {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 2.6rem;
    letter-spacing: 0.05em;
    color: #fff;
  }
  .todo {
    &-input {
      height: 3rem;
      padding: 0 50px;
      input {
        min-width: 350px;
        height: 100%;
        line-height: 40px;
        border: none;
        padding-left: 6px;
        padding-right: 6px;
        outline: none;
        :focus {
          outline: none;
        }
      }
      button {
        text-transform: uppercase;
        display: inline-block;
        height: 100%;
        padding: 0 1.3rem;
        border: 1px solid #534340;
        background-color: #534340;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease;
        outline: none;
        :hover {
          opacity: 0.6;
        }
      }
    }
    &-option {
      display: flex;
      justify-content: flex-end;
      padding: 1rem 50px 0;
      &-item {
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 6px;
        margin-left: 6px;
        font-size: 14px;
        display: flex;
        align-items: center;
        input {
          margin-right: 4px;
          cursor: pointer;
        }
      }
    }
    &-container {
      margin-top: 20px;
      overflow: auto;
      height: 300px;
    }
    &-item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #f4f4f4;
      margin-bottom: 6px;
      padding: 15px 50px;
      font-size: 16px;
      background-color: rgba(255, 255, 255, 0.1);
      :hover .btn {
        opacity: 1;
      }
      &-title {
        display: flex;
        align-items: center;
        input {
          margin-right: 6px;
        }
      }
    }
  }
  .btn {
    opacity: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s ease-in;
    img {
      display: inline-block;
      width: 20px;
      height: 20px;
    }
  }
  .todos-empty {
    padding-left: 50px;
    font-style: italic;
  }
  .listPage {
    padding: 1rem;
    text-align: center;
    li {
      color: #bb9981;
      font-weight: 700;
      background-color: #fff;
      display: inline-block;
      padding: 2rem;
    }
  }
  .todo-item.active-todo .todo-item-title {
    p {
      position: relative;
      font-style: italic;
    }
    p::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      height: 1.5px;
      width: 100%;
      background-color: #fff;
    }
  }
}
