$bg-color: #bb9981;
$box-shadow: rgba(0, 0, 0, 0.2);
$text-color: #fff;
$border-color-btn: #534340;
$border-color-item: rgba(255, 255, 255, 0.3);
$border-color-bottom-item: #f4f4f4;
$bg-color-item:rgba(255, 255, 255, 0.1);

