$bg-wrapper: #deaa0e;
$bg-form-login:#fff;
$box-shadow-wrapper:rgba(0, 0, 0, 0.1);
$header-color:#fff;
$login-header-color:#333;
$form-input-color:#333;
$error:red;
$bg-form-input:#fff;
$background-login:#fff;
$header-login-color:#333;
$border-input-login:#aaa;
$border-input-focus:#ddd;
$checbox-color:#fff;
$form-a-color:#333;
$text-submit-color:#fff;
$bg-input-submit:#deaa0e;
$bg-toast:green;
$color-toast:#fff;